<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <style>

    .scrollable {
      height:400px;
      overflow-y: scroll;
    }

    </style>

    <title>Lister</title>
  </head>
  <body>
    <div id='main'>
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin: 20px;">
          <a class="navbar-brand" href="">Lister</a>
        </nav>
        <div class='row'>
          <div class='col-lg-4'>
            <h3 class='text-center'>Hint</h3>
            <user-viewer
              v-for='user in hint_users'
              v-bind:user='user'
              v-bind:id="`hint_${user.id}`"
              v-bind:action-component='"hint-action"'
            ></user-viewer>
            <input type="text" v-model="new_hint" />
            <button v-on:click="add_new_hint">Add hint</button>
            <button v-on:click="fetch_candidates">Fetch candidates</button>
          </div>
          <div class='col-lg-4'>
            <h3 class='text-center'>Candidates</h3>
            <div class='scrollable'>
              <user-viewer
                v-for='user in candidates'
                v-bind:user='user'
                v-bind:action-component='"candidate-action"'
              ></user-viewer>
            </div>
          </div>
          <div class='col-lg-4'>
            <h4 class='text-center'>{{owner_screen_name}}/{{slug}}</h4>
            List name: <input type='text' v-model='slug'>
            <div class='scrollable'>
              <user-viewer
                v-for='user in list_members'
                v-bind:user='user'
                v-bind:action-component='"list-member-action"'
              ></user-viewer>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script type='text/javascript'>
      Vue.component('user-viewer', {
        props: ["user", "action-component"],
        template: `
        <div class='row' style='margin: 20px;'>
          <div class='col-lg-2' style='padding: 0px;'>
            <img class='img-thumbnail' v-bind:src='user.profile_image_url_https' style='width: 48px; height: 48px;'>
          </div>
          <div class='col-lg-10'>
            <div class='card-body' style='padding: 0px;'>
              <p style='margin: 0px;'>
                {{ user.name }}(@{{ user.screen_name }})
              </p>
              <component v-bind:is='actionComponent' v-bind:user='user'></component>
            </div>
          </div>
        </div>
        `,
        methods: {
          add_to_hint: function(arg) { this.$parent.add_to_hint(arg) },
          add_to_list: function(arg) { this.$parent.add_to_list(arg) },
          remove_from_list: function(arg) { this.$parent.remove_from_list(arg) },
          remove_from_hints: function(arg) { this.$parent.remove_from_hints(arg) }
        }
      })

      Vue.component('candidate-action', {
        props: ['user'],
        template: `
        <p style='margin: 0px;' class='text-right'>
          <button
            v-on:click="add_to_list(user.id_str)"
            class="btn btn-outline-primary"
            style='padding: 2px;'
          >Add to List</button>
          <button
            v-on:click="add_to_hint(user.screen_name)"
            class="btn btn-outline-success"
            style='padding: 2px;'
          >Add to Hint</button>
        </p>
        `,
        methods: {
          add_to_hint: function(arg) { this.$parent.add_to_hint(arg) },
          add_to_list: function(arg) { this.$parent.add_to_list(arg) },
        }
      })

      Vue.component('list-member-action', {
        props: ['user'],
        template: `
        <p style='margin: 0px;'>
          <button
            v-on:click="remove_from_list(user.id_str)"
            class="btn btn-outline-danger"
            style='padding: 2px;'
          >Del</button>
          <button
            v-on:click="add_to_hint(user.screen_name)"
            class="btn btn-outline-success"
            style='padding: 2px;'
          >Add to Hint</button>
        </p>
        `,
        methods: {
          add_to_hint: function(arg) { this.$parent.add_to_hint(arg) },
          remove_from_list: function(arg) { this.$parent.remove_from_list(arg) }
        }
      })

      Vue.component('hint-action', {
        props: ['user'],
        template: `
        <p style='margin: 0px;'>
          <button
            v-on:click="remove_from_hints(user.screen_name)"
            class="btn btn-outline-danger"
            style='padding: 2px;'
          >Del</button>
        </p>
        `,
        methods: {
          remove_from_hints: function(arg) {
            this.$parent.remove_from_hints(arg)
          }
        }
      })

      const app = new Vue({
        el: '#main',
        data: function(){
          return {
            new_hint: "",
            hint_user_screen_names: ["genya0407", "motterian"],
            hint_users: [],
            owner_screen_name: "genya0407",
            slug: "r",
            candidates: [],
            list_members: []
          }
        },
        methods: {
          fetch_candidates: function() {
            const vue = this
            $.get("/api/candidates", {hints: vue.hints, owner_screen_name: vue.owner_screen_name, slug: vue.slug}, (data) => {
              vue.candidates = data.candidates
              vue.list_members = data.list_members
            })
          },
          add_to_list: function(user_id) {
            const vue = this
            $.ajax({
              url: "/api/list_members",
              type: "POST",
              data: JSON.stringify({user_ids: [user_id], owner_screen_name: vue.owner_screen_name, slug: vue.slug}),
              contentType:"application/json; charset=utf-8",
              dataType:"json",
              success: function(){
                vue.fetch_candidates()
              }
            })
          },
          add_to_hint: function(screen_name) {
            this.hint_user_screen_names.push(screen_name)
          },
          remove_from_list: function(user_id) {
            const vue = this
            $.ajax({
              url: "/api/list_members",
              type: "DELETE",
              data: JSON.stringify({user_ids: [user_id], owner_screen_name: vue.owner_screen_name, slug: vue.slug}),
              contentType:"application/json; charset=utf-8",
              dataType:"json",
              success: function(){
                vue.fetch_candidates()
              }
            })
          },
          remove_from_hints: function(user_screen_name) {
            this.hint_user_screen_names = this.hint_user_screen_names.filter((sn) => {
              return sn !== user_screen_name
            })
          },
          add_new_hint: function() {
            this.add_to_hint(this.new_hint)
            this.new_hint = ""
          }
        },
        computed: {
          hints: function() {
            return this.hint_user_screen_names.join(",")
          }
        },
        watch: {
          hint_user_screen_names: function() {
            this.hint_users = []
            this.hint_user_screen_names.forEach((screen_name) => {
              $.get('/api/user', { user_screen_name_or_id: screen_name }, (data) => {
                this.hint_users.push(data)
              })
            })
          }
        },
        mounted: function () {
          this.$nextTick(() => {
            this.hint_user_screen_names = this.hint_user_screen_names.map((u) => {
              return u
            })
          })
        }
      })
    </script>
  </body>
</html>
